Language: Cpp
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -1
AlignAfterOpenBracket: BlockIndent
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true
MaxEmptyLinesToKeep: 1
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
ConstructorInitializerIndentWidth: 2
AllowShortBlocksOnASingleLine: Always
ColumnLimit: 0
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
EmptyLineBeforeAccessModifier: Always
SpaceInEmptyBlock: true
BreakConstructorInitializers: BeforeColon
SpaceBeforeCpp11BracedList: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
FixNamespaceComments: false
NamespaceIndentation: All
